.game-logo {

}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
  border: 1px solid red;

}


.boton-gameover {
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  color:#333333;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  background-color:#FFD27D;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius:35px;
  }